<link rel="stylesheet" href="{{ 'footer.scss' | asset_url }}">

<div class="footer">
    {% render 'newsletter-signup' %}
</div>

{% schema %}
    {
        "name": "Newsletter",
        "settings": [
            {
                "type": "text",
                "id": "newsletterTitle",
                "label": "Newsletter Title",
                "default": "Subscribe to our Newsletter"
            },
            {
                "type": "textarea",
                "id": "newsletterDescription",
                "label": "Newsletter Description",
                "default": "Sign up to receive updates and exclusive offers."
            }
        ]
    }
{% endschema %}