<h1>{{ product.title }}</h1>

<div class="rte">
  {{ product.description }}
</div>

{% schema %}
{
  "name":"Product",
  "class": "product-page",
  "settings":[
  ],
  "blocks":[
  ]
}
{% endschema %}
