{% comment %}
This is a basic page template with sections
{% endcomment %}

{% section 'faq' %}
<div>
    <h3> tamzin testing</h3>
    <h3> tamzin testing</h3>
    <h3> tamzin testing</h3>
    <h3> tamzin testing</h3>
    <h3> tamzin testing</h3>

</div>


